<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  
  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&display=swap" rel="stylesheet">
	<style>
		body{
		font-family: 'Hanuman', serif !important;
		}
	footer {
		  position: fixed;
		  left: 0;
		  bottom: 0;
		  padding-top:10px;
		  width: 100%;
		  background-color: black;
		  color: white;
		  text-align: center;
		}
	</style>
	
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
       <a class="nav-link " href="/">SOURNG | Homework 6th</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="/">បញ្ជីផលិតផល</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">បង្កើតផលិតផល</a>
      </li>
      
    </ul>
  </div>
</nav>

<div class="container">
    <h1 class="mt-3">បញ្ជីផលិតផល	<a class="btn btn-success btn-sm float-end mt-3" href="create">បង្កើតផលិតផលថ្មី</a></h1>
    
    <br/><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ល.រ</th>
                <th>ឈ្មោះផលិតផល</th>
                <th>ឈ្មោះម៉ាក</th>
                <th>ឆ្នាំផលិត</th>
                <th>ឯកតា</th>
                <th>តម្លៃឯកតា</th>
                <th>សកម្មភាព</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
            	<td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Product Name</td>
                <td th:text="${product.brand}">Brand Name</td>
                <td th:text="${product.made}">Made In Year</td>
                <td th:text="${product.unit}">Unit</td>
                <td th:text="${product.price}">Price</td>
                <td>
               		 <a class="btn btn-info btn-sm" th:href="@{'/view/' + ${product.id}}">មើលលំអិត</a>
                	&nbsp;&nbsp;&nbsp;
                	<a class="btn btn-primary btn-sm" th:href="@{'/edit/' + ${product.id}}">កែប្រែ</a>
                	&nbsp;&nbsp;&nbsp;
                	<a class="btn btn-danger btn-sm" th:href="@{'/delete/' + ${product.id}}">លុប</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> 

<footer class="footer">
	<div>
		<p>Designed by : SENG Sourng | MIT @ BBU</p>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



