@import  url('https://fonts.googleapis.com/css?family=Hanuman:400,700');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Hanuman', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.khmer-font{
  font-family:'Hanuman',sans-serif !important;
}
label{
  font-family:'Hanuman',sans-serif !important;
}
input{
  font-family:'Hanuman',sans-serif !important;
}
h3{
  font-family:'Hanuman',sans-serif !important;
}
button{
  font-family:'Hanuman',sans-serif !important;
}
span{
  font-family:'Hanuman',sans-serif !important;
}